{
  "plugins": ["@typescript-eslint", "simple-import-sort", "prettier", "import"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "google",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:import/typescript"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "require-jsdoc": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  }
}
